{% extends 'base.html' %}

{% block content %}
  <header>
      <h2>Options</h2>
  </header>
  <br>
  <div class="container">
    <div class="row row-content" style="padding: 100px; text-align:center;">
          <div class="col-xs-12 col-sm-4">
            <a href="/birthdays"><i class="fa fa-bars i_option" style="font-size:100px;"></i></a><br><br>
            <h4>Birthdays</h4>
          </div>

          <div class="col-xs-12 col-sm-4">
            <a href="#"><i class="fa fa-users i_option" style="font-size:100px;"></i></a><br><br>
            <h4>Option2</h4>
          </div>

          <div class="col-xs-12 col-sm-4">
            <a href="#"><i class="fa fa-envelope i_option" style="font-size:100px;"></i></a><br><br>
            <h4>Option3</h4>
          </div>
    </div>
  </div>
{% endblock %}
